<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.jaipurheights.rar">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <permission
        android:name="com.ibm.mobilefirstplatform.clientsdk.android.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.ibm.mobilefirstplatform.clientsdk.android.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/sidelogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArbYLphlJODJfiBeDh8y4RY-5A3kNSKwU" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LesseActivity"
            android:label="Form" />
        <activity
            android:name=".form"
            android:label="Form" />
        <activity
            android:name=".SignatureActivity"
            android:label="@string/title_activity_signature" />
        <activity
            android:name=".Homescreen"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.ibm.mobilefirstplatform.clientsdk.android.app.IBMPushNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Flash"
            android:label="RAR"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TndC"
            android:label="@string/title_activity_tnd_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checktandc"
            android:label="@string/title_activity_checktandc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".buyer"
            android:label="@string/title_activity_checktandc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lessor"
            android:label="@string/title_activity_checktandc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Membership"
            android:label="@string/title_activity_membership"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Why"
            android:label="@string/title_activity_why"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Grivences"
            android:label="@string/title_activity_grivences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rarinfo"
            android:label="@string/title_activity_rarinfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactus"
            android:label="Oops..."
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Privacypolicy"
            android:label="@string/title_activity_privacypolicy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Requirement"
            android:label="Post Requirement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Postproperty"
            android:label="Post Property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Propertyshown"
            android:label="@string/title_activity_propertyshown"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sell"
            android:label="@string/title_activity_propertyshown"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".buy"
            android:label="@string/title_activity_propertyshown"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".propertysearchfilter"
            android:label="FILTER"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="FILTER"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="FILTER"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.api.MFPPushIntentService" />

        <receiver
            android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.internal.MFPPushBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ibm.mobilefirstplatform.clientsdk.android.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="com.ibm.mobilefirstplatform.clientsdk.android.app" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Displaysearch"
            android:label="Property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Postedproperty"
            android:label="Posted Successfully"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aboutus"
            android:label="Contact"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Termsandconditions"
            android:label="Terms and Conditions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
